*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;

}

body{
    width: 100%;
    background-color:gainsboro;
    margin: 0;
    padding: 0%;
    display: flex;
    justify-content: center;
}

.page_instagram{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.container_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.container_phone img{
    height: 40rem;
}
.login_continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;

}

.group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid white

}
.group:nth-child(1){
    min-height: 19 rem;

}

.intagram-logo{
    height: 3rem;
}
.photo_perfil{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.photo_perfil img{
    height: 6rem;
}
.confirma_login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}
.not-account{
    background-color:cornflowerblue;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}
.nova-conta{
    color: #0095f6;
    margin-top: 1rem;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}
.obter_app{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('images/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('images/googleplay-button.png');
}

@media (max-width: 1024px) {
    .page_instagram {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .page_instagram {
        width: 90%;
    }

    .container_phone {
        display: none;
    }

    .confirma_login {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}